{% extends 'base.html.twig' %}

{% block title %}Projet {{ project.name }} {% endblock %}

{% block body %}
<h1>Projet {{ project.name }} </h1>
<small>Créé le : {{ project.startedAt|date('Y-m-d') }} </small>
<small>Statut du projet : {{ project.projectStatus }}</small>

<a class="btn btn-lg btn-light" href="{{ path('project_add_task', {id: project.id}) }}">
Ajouter une tâche
</a>

<table>
    <thead>
        <tr>
            <th>Nom de la tâche</th>
            <th>Description</th>
            <th>Ajoutée le</th>
        </tr>
    </thead>
    <tbody>
        {% for task in project.tasks %}
        
        <tr>
            <td>{{ task.title }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.createdAt|date('Y-m-d') }}</td>
        </tr>

        {% endfor %}
    </tbody>
</table>

  
{% endblock %}
