{% extends 'base.html.twig' %}

{% block title %}Liste des projets{% endblock %}

{% block body %}
<h1>Liste des projets</h1>

    <a class="btn btn-lg btn-light" href="{{ path('project_creation') }}">
        Ajouter un projet
    </a>

<table>
    <thead>
        <tr>
            <th>Nom du projet</th>
            <th>Statut</th>
            <th>Tâches</th>
            <th>Ajouté le</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
        
        <tr>
            <td>{{ project.name }}</td>
            <td>{{ project.projectStatus }}</td>
            <td>{{ project.tasks.count }}</td>
            <td>{{ project.startedAt|date('Y-m-d') }}</td>
            <td><a href="{{ path('project_manage', {id: project.id}) }}">Voir l'article</a></td>
        </tr>

        {% endfor %}
    </tbody>
</table>

  
{% endblock %}
